/* About the logo
 *
 * The logo icon is modified from tiheum's excellent work: Faenza icon set.
 * License is GPL, more information see it's home page
 * http://gnome-look.org/content/show.php?content=128143
 *
 */

/* in browser window toolbar */

toolbar #useragentoverrider-button {
    list-style-image: url("chrome://useragentoverrider/skin/icon24.png");
}

toolbar[iconsize="small"] #useragentoverrider-button {
    list-style-image: url("chrome://useragentoverrider/skin/icon16.png") !important;
}

toolbar #useragentoverrider-button[disabled="yes"] {
    filter: url("chrome://mozapps/skin/extensions/extensions.svg#greyscale");
}

/* in customization panel */

#useragentoverrider-button:not([type="menu-button"]) {
    list-style-image: url("chrome://useragentoverrider/skin/icon24.png") !important;
}

/* in browser window toolbar palette (Australis theme since Firefox 29) */

#useragentoverrider-button[cui-areatype="menu-panel"],
toolbarpaletteitem[place="palette"] > #useragentoverrider-button {
    list-style-image: url("chrome://useragentoverrider/skin/icon32.png");
}

#useragentoverrider-button[cui-areatype="menu-panel"][disabled="yes"] {
    filter: url("chrome://mozapps/skin/extensions/extensions.svg#greyscale");
}

